/*

  Dark theme

*/

/*
  Text colors
*/

.primaryColor {
	color: #4f46e5 !important;
}

.secondaryColor {
	color: #6b7280 !important;
}

.tertiaryColor {
	color: #dfe5eb !important;
}

/*
  Background colors
*/

.primaryBackgroundColor {
	background-color: #0d1117 !important;
}

.secondaryBackgroundColor {
	background-color: #161b22 !important;
}

.tertiaryBackgroundColor {
	background-color: #21262d !important;
}

.quaternaryBackgroundColor {
	background-color: #4f46e5 !important;
}

/*
  Button colors
*/

.primaryButton {
	background-color: #4f46e5 !important;
	color: #dfe5eb !important;
}

.primaryButton:hover {
	background-color: #4338ca !important;
}

.successButton {
	background-color: #059669 !important;
	color: #dfe5eb !important;
}

.successButton:hover {
	background-color: #047857 !important;
}

.dangerButton {
	background-color: #dc2626 !important;
	color: #dfe5eb !important;
}

.dangerButton:hover {
	background-color: #b91c1c !important;
}

.cancelButton {
	background-color: #21262d !important;
	border-color: #161b22 !important;
	color: #dfe5eb !important;
}

.cancelButton:hover {
	background-color: #2b323b !important;
}

/*
  Elements
*/

input {
	background-color: #21262d !important;
	color: #dfe5eb !important;
	border-color: #16191d !important;
}

textarea {
	background-color: #21262d !important;
	color: #dfe5eb !important;
	border-color: #16191d !important;
}

input[type="checkbox"] {
	accent-color: #4f46e5;
}

/*
  Main menu
*/

.mainMenuLink {
	background-color: #161b22 !important;
	color: #6b7280 !important;
}

.mainMenuLink:hover {
	color: #dfe5eb !important;
	background-color: #21262d !important;
}

.mainMenuLinkSelected {
	color: #dfe5eb !important;
	background-color: #21262d !important;
}

#main-menu-toggle-btn {
	color: #9ca3af !important;
}

#main-menu-toggle-btn:hover {
	color: #6b7280 !important;
	background-color: #21262d !important;
}

/*
  Border colors
*/

.primaryBorderColor {
	border-color: #16191d !important;
}

/*
  Placeholder colors
*/

.primaryBorderColor::placeholder {
	color: #6b7280;
	opacity: 1;
}

.primaryBorderColor::-ms-input-placeholder {
	color: #6b7280;
	opacity: 1;
}

/*
  Stroke colors
*/

.primaryStrokeColor {
	stroke: #dfe5eb !important;
}

/*
  Passwords
*/

.passwordsBackgroundColor {
	background-color: #0d1117 !important;
}

.passwordsBorderColor {
	border-color: #000000 !important;
}

/*
  Import and Export buttons
*/

.importExportButtons {
	color: #b1bfce !important;
	border-color: #0d1117 !important;
}

.importExportButtons:hover {
	color: #91a6ba !important;
}

/*
  Scroll bar
*/

::-webkit-scrollbar-track {
	background: #161b22;
}

::-webkit-scrollbar-thumb {
	background: #28313e;
}

::-webkit-scrollbar-thumb:hover {
	background: #323e4d;
}
