/*

  Light theme

*/

/*
  Text colors
*/

.primaryColor {
	color: #4f46e5 !important;
}

.secondaryColor {
	color: #6b7280 !important;
}

.tertiaryColor {
	color: #111827 !important;
}

/*
  Background colors
*/

.primaryBackgroundColor {
	background-color: #c2ccd6 !important;
}

.secondaryBackgroundColor {
	background-color: #e0e6eb !important;
}

.tertiaryBackgroundColor {
	background-color: #f9fafb !important;
}

.quaternaryBackgroundColor {
	background-color: #4f46e5 !important;
}

/*
  Button colors
*/

.primaryButton {
	background-color: #4f46e5 !important;
	color: #dfe5eb !important;
}

.primaryButton:hover {
	background-color: #4338ca !important;
}

.successButton {
	background-color: #059669 !important;
	color: #dfe5eb !important;
}

.successButton:hover {
	background-color: #047857 !important;
}

.dangerButton {
	background-color: #dc2626 !important;
	color: #dfe5eb !important;
}

.dangerButton:hover {
	background-color: #b91c1c !important;
}

.cancelButton {
	background-color: #f9fafb !important;
	border-color: #d1d5db !important;
	color: #374151 !important;
}

.cancelButton:hover {
	background-color: #f9fafb !important;
}

/*
  Elements
*/

input {
	background-color: #f9fafb !important;
	color: #111827 !important;
	border-color: #d1d5db !important;
}

textarea {
	background-color: #f9fafb !important;
	color: #111827 !important;
	border-color: #d1d5db !important;
}

input[type="checkbox"] {
	accent-color: #4f46e5;
}

/*
  Main menu
*/

.mainMenuLink {
	background-color: #e0e6eb;
	color: #4b5563 !important;
}

.mainMenuLink:hover {
	color: #1f2937 !important;
	border-color: #d1d5db !important;
}

.mainMenuLinkSelected {
	color: #1f2937 !important;
	border-color: #6366f1 !important;
}

.mainMenuMobileLink {
	background-color: #e0e6eb;
	color: #4b5563 !important;
}

.mainMenuMobileLink:hover {
	color: #1f2937 !important;
	background-color: #f9fafb !important;
	border-color: #d1d5db !important;
}

.mainMenuMobileLinkSelected {
	background-color: #f9fafb !important;
	border-color: #6366f1 !important;
	color: #4338ca !important;
}

#main-menu-toggle-btn {
	color: #9ca3af !important;
}

#main-menu-toggle-btn:hover {
	color: #6b7280 !important;
	background-color: #f9fafb !important;
}

/*
  Border colors
*/

.primaryBorderColor {
	border-color: #d1d1db !important;
}

/*
  Placeholder colors
*/

.primaryBorderColor::placeholder {
	color: #6b7280;
	opacity: 1;
}

.primaryBorderColor::-ms-input-placeholder {
	color: #6b7280;
	opacity: 1;
}

/*
  Stroke colors
*/

.primaryStrokeColor {
	stroke: #111827 !important;
}

/*
  Passwords
*/

.passwordsBackgroundColor {
	background-color: #c2ccd6 !important;
}

.passwordsBorderColor {
	border-color: #d1d1db !important;
}

/*
  Import and Export buttons
*/

.importExportButtons {
	color: #374151 !important;
	border-color: #c2ccd6 !important;
}

.importExportButtons:hover {
	color: #6b7280 !important;
}

/*
  Scroll bar
*/

::-webkit-scrollbar-track {
	background: #e0e6eb;
}

::-webkit-scrollbar-thumb {
	background: #9ea3ae;
}

::-webkit-scrollbar-thumb:hover {
	background: #9096a2;
}
