/*

  Solarized Dark theme

*/

/*
  Text colors
*/

.primaryColor {
	color: #547013 !important;
}

.secondaryColor {
	color: #6b7280 !important;
}

.tertiaryColor {
	color: #dfe5eb !important;
}

.warningColor {
	color: #ffdb00 !important;
}

.dangerColor {
	color: #ff0000 !important;
}

/*
	Background colors
*/

.primaryBackgroundColor {
	background-color: #00212b !important;
}

.secondaryBackgroundColor {
	background-color: #002b36 !important;
}

.tertiaryBackgroundColor {
	background-color: #073642 !important;
}

.quaternaryBackgroundColor {
	background-color: #547013 !important;
}

/*
	Button colors
*/

.primaryButton {
	background-color: #547013 !important;
	color: #dfe5eb !important;
}

.primaryButton:hover {
	background-color: #526d12 !important;
}

.successButton {
	background-color: #547013 !important;
	color: #dfe5eb !important;
}

.successButton:hover {
	background-color: #526d12 !important;
}

.dangerButton {
	background-color: #b0461a !important;
	color: #dfe5eb !important;
}

.dangerButton:hover {
	background-color: #9b3f17 !important;
}

.cancelButton {
	background-color: #073642 !important;
	border-color: #073642 !important;
	color: #dfe5eb !important;
}

.cancelButton:hover {
	background-color: #05262e !important;
}

/*
	Elements
*/

input {
	background-color: #073642 !important;
	color: #dfe5eb !important;
	border-color: #16191d !important;
}

textarea {
	background-color: #073642 !important;
	color: #dfe5eb !important;
	border-color: #16191d !important;
}

svg {
	stroke: #0a4c5c !important;
}

input[type="checkbox"] {
	accent-color: #547013;
}

/*
	Main menu
*/

.mainMenuLink {
	background-color: #002b36 !important;
	color: #6b7280 !important;
}

.mainMenuLink:hover {
	color: #dfe5eb !important;
	border-color: #d1d5db !important;
}

.mainMenuLinkSelected {
	color: #dfe5eb !important;
	border-color: #547013 !important;
}

.mainMenuMobileLink {
	background-color: #002b36 !important;
	color: #dfe5eb !important;
}

.mainMenuMobileLink:hover {
	background-color: #073642 !important;
	border-color: #6b7280 !important;
}

.mainMenuMobileLinkSelected {
	background-color: #073642 !important;
	border-color: #547013 !important;
	color: #547013 !important;
}

#main-menu-toggle-btn {
	color: #9ca3af !important;
}

#main-menu-toggle-btn:hover {
	color: #6b7280 !important;
	background-color: #073642 !important;
}

/*
	Border colors
*/

.primaryBorderColor {
	border-color: #16191d !important;
}

/*
	Placeholder colors
*/

.primaryBorderColor::placeholder {
	color: #6b7280;
	opacity: 1;
}

.primaryBorderColor::-ms-input-placeholder {
	color: #6b7280;
	opacity: 1;
}

/*
	Stroke colors
*/

.primaryStrokeColor {
	stroke: #dfe5eb !important;
}

/*
	Passwords
*/

.passwordsBackgroundColor {
	background-color: #00212b !important;
}

.passwordsBorderColor {
	border-color: #000000 !important;
}

/*
	Import and Export buttons
*/

.importExportButtons {
	color: #b1bfce !important;
	border-color: #00212b !important;
}

.importExportButtons:hover {
	color: #91a6ba !important;
}

/*
	Scroll bar
*/

::-webkit-scrollbar-track {
	background: #002b36;
}

::-webkit-scrollbar-thumb {
	background: #003d4d;
}

::-webkit-scrollbar-thumb:hover {
	background: #005266;
}
